:root {
  --tile-gray: #c2bebe;
  --tile-border-highlight: #e4e2e2;
  --tile-border-lowlight: #868585;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

body > h1 {
  font-size: 38px;
}

body > p {
  margin: 0;
  font-size: 18px;
}

.board {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile-row {
  display: flex;
}

.tile {
  display: flex; 
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  background-color: var(--tile-gray);
}

.unexplored, .flagged {
  border-top: 3px solid var(--tile-border-highlight);
  border-left: 3px solid var(--tile-border-highlight);
  border-right: 3px solid var(--tile-border-lowlight);
  border-bottom: 3px solid var(--tile-border-lowlight);
}

.explored, .bombed {
  border-top: 3px solid var(--tile-border-lowlight);
  border-left: 3px solid var(--tile-border-lowlight);
  border-right: 3px solid var(--tile-border-highlight);
  border-bottom: 3px solid var(--tile-border-highlight);
}

.flagged {
  color: red;
}

.bombed {
  background-color: red;
}

.modal {
  display: flex; 
  justify-content: center;
}

.modal-screen {
  position: absolute;
  top: 0; 
  bottom: 0; 
  right: 0; 
  left: 0; 

  z-index: 1; 
  background-color: rgba(0,0,0,0.5);
}

.modal-form {
  position: absolute;
  background-color: white;
  width: 250px; 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border-radius: 10px;

  top: 250px;
  
  z-index: 2;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

.modal-form > * {
  margin: 20px
}

.explored.color-1 {
  color: blue;
}
.explored.color-2 {
  color: green;
}
.explored.color-3 {
  color: red;
}
.explored.color-4 {
  color: darkblue;
}